:root {
    --primary-text: #ffffff;
    --secondary-text: #000000;
    --header-teal: #1ED0C7;
    --purple: #3908e8;
    --orange: #bc6700;
    --sidebar-background-color: #151515;
    --background-color: #252525;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Creepster", system-ui;
    font-size: 1.25rem;
}

#header {
    background: linear-gradient(135deg, var(--purple) 0%, var(--orange) 100%);
    color: var(--secondary-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.header_container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex-wrap: nowrap;
}

#header_left {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.brand-link {
    color: var(--primary-text);
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 20px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding-left: 1em;
}

#reload-button-object {
    color: var(--secondary-text);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

#reload-button-object:hover,
#reload-button-object:focus {
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

container-container {
    display: block;
    height: 100%;
}

flex-container {
    display: flex;
    align-items: baseline;
}

nav {
    width: fit-content;
    height: calc(100vh - 60px);
    padding: 1em;
    color: var(--primary-text);
    background: var(--sidebar-background-color);
}

h2 {
    width: 100%;
    font-size: 2.0rem;
}

course-content {
    flex: 1;
    padding: 1em;
    height: calc(100vh - 60px);
    color: var(--primary-text);
    background-image: url('/resources/images/cobweb.png');
    background-size: cover;
}