:root {
    --primary-text: #ffffff;
    --header-teal: #1ED0C7;
    --catseyegreen: #3908e8;
    --catseyeblue: #bc6700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    /**background: linear-gradient(135deg, var(--catseyegreen) 0%, var(--catseyeblue) 100%);**/
    background: var(--header-teal);
    color: var(--secondary-text);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.header_container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex-wrap: nowrap;
}

#header_left {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.brand-link {
    color: var(--primary-text);
    font-weight: bold;
    font-size: 2.0rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 20px;
}

.flex-container {
    display: flex;
}

nav {
    display: flex;
    width: fit-content;
    margin-top: 2em;
    padding: 1em;
    border: 2px solid black;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding-left: 1em;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.course-content {
    display: flex;
    width: fit-content;
    padding: 1em;
    border: 2px solid black;
}

.login-button {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

#login-button-object {
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border-width: 2px;
}